body {
    font-family: Arial, sans-serif;
    color: #565656;
    transition: background-color 0.3s ease, color 0.3s ease; /* Adicionamos a transição de cor */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease; /* Adicionamos a transição de cor */
}

.container.dark-theme {
    background-color: #454545; /* Nova cor de fundo para o contêiner no modo escuro */
    color: #ccc; /* Nova cor do texto para o contêiner no modo escuro */
}


.dark-theme {
    background-color: #292929;
    color: #ccc;
}

h1 {
    text-align: center;
    color: inherit; /* Garante que a cor do texto do título siga a cor do body */
}

.task-input {
    display: flex;
    margin-bottom: 20px;
}

.task-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #dcc7c7;
    border-radius: 4px;
    margin-right: 10px;
}

.task-input button {
    padding: 10px 20px;
    background-color:#0b62c0;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #eeeeee;
    border-radius: 4px;
    position: relative;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Adicionamos transform para uma animação mais suave */
}

li:hover {
    background-color: #e0e0e0;
    transform: scale(1.05); /* Aumenta um pouco o tamanho no hover */
}

.theme-toggle {
    text-align: center;
    margin-bottom: 20px;
}

.theme-toggle button {
    padding: 10px 20px;
    background-color: #0b62c0;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.dark-theme #task-list li {
    background-color: #454545; /* Cor de fundo das tarefas no modo escuro */
    color: #fff; /* Cor do texto das tarefas no modo escuro */
    border-radius: 4px;
    border: 1px solid #fff; /* Cor da borda das tarefas no modo escuro */
}
